@import "./styles/fonts.css";
@import "tailwindcss";

:root {
  font-family: "Google Sans", sans-serif;
  --color-red-100: #f2d9d7;
  --color-red-200: #c68780;
  --color-red-300: #af564d;
  --color-red-400: #982619;
  --color-red-500: #8c0e00;

  --color-green-100: #d7f2e0;
  --color-green-500: #008c4d;

  --color-yellow-100: #fdf9e6;
  --color-yellow-500: #ebc400;

  --color-grey-100: #e6e6e6;
  --color-grey-200: #b3b3b3;
  --color-grey-300: #808080;
  --color-grey-400: #666666;
  --color-grey-500: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Google Sans", sans-serif;
  background: white;
  color: var(--color-grey-500);
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}
