@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/GoogleSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
